---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import HowItWorks from '../components/sections/HowItWorks.astro';
import Benefits from '../components/sections/Benefits.astro';
import Contact from '../components/sections/Contact.astro';
import '../styles/global.css';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Services />
    <HowItWorks />
    <Benefits />
    <Contact />
  </main>
  <Footer />
</Layout>
